name: Purge old packages

on:
  release:
    types:
      - published
  workflow_dispatch:

jobs:
  purge-packages:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/delete-package-versions@e5bc658cc4c965c472efe991f8beea3981499c55 # v5.0.0
        with:
          package-name: 'grades-view-solid'
          package-type: 'container'
          min-versions-to-keep: 10
